.currentVacCard {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 95%;
    flex-direction: column;
    align-items: center;
    border: 1px solid #00000040;
    box-shadow: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004D;
    border-radius: 1rem;
    justify-content: center;

}

.currentVacCard .image {
    position: relative;
    width: 28px;
    height: 41px;
}

.currentVacCard .info-card {
    padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.currentVacCard .info-card .info-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.currentVacCard .info-card .info-item .item-title {
    font-weight: 700;
    font-size: 20px;
}

.currentVacCard .info-card .info-item .item-desc {
    font-weight: 400;
    font-size: 20px;
}

.currentVacCard .button {
      text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
    width: 175px;
    height: 36px;
    border-radius: 500px;
    border: none;
    background-color: #1C93CD;
    color: white;
    font-weight: 500;
    font-size: 16px;

}

p {
    margin-bottom: 0 !important;
}