.blog-card {
    height: 483px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 12px;
    column-span: 1;
    max-height: fit-content;


}

.blog-card .image-side {
    position: relative;
    width: 100%;
    height: 60%;
}

.blog-card .image-side .imge {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.blog-card .text-side {
    width: 100%;
    background-color: #E1EEF4;
    padding: 2rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 40%;

}

.blog-card .text-side .title {
    font-weight: 500;
    font-size: 18px;
    color: #1B305B;
}

.blog-card .text-side .desc {
    font-weight: 400;
    font-size: 12px;
    color: #747474;
    padding-top: 0.5rem;
    line-height: 1.8;
}
/* ============================
   RESPONSIVE
   ============================ */
@media (max-width: 768px) {


    .blog-card .text-side {
        padding: 1rem;
    }

    .blog-card .text-side .title {
        font-size: 16px;
    }

    .blog-card .text-side .desc {
        font-size: 12px;
    }
}

@media (max-width: 480px) {


    .blog-card .text-side .title {
        font-size: 15px;
    }
}