.content-join{
    width: 100%;
    padding: 1rem;
}
.text-join {
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-align: center;
}

.join-btn {
    width: 175px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    background-color: #1C93CD;
    border-radius: 500px;
    margin: 2rem auto;
}