.impact-section-container {
  width: 100%;
  max-width: 1100px;
  background: linear-gradient(90deg, #1f2c4c, #3a5a9b);
  border-radius: 20px;
  padding: 40px 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  box-sizing: border-box;
  margin: 6rem auto;

}

.impact-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 40px;
}