/* Main container */
.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15rem 5rem 0 5rem;
  gap: 2rem;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.64);
  background-blend-mode: overlay;
}

/* First text */
.first-text {
  font-weight: 600;
  font-size: 60px;
  color: #1B305B;
}

/* Second text */
.second-text {
  font-weight: 600;
  font-size: 40px;
  color: #1B305B;
}

/* Final text */
.final-text {
  font-weight: 500;
  font-size: 20px;
  color: #1B305B;
  padding: 0 10rem;
}

/* Main button */
.main-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 36px;
  border: none;
  border-radius: 500px;
  font-size: 16px;
  font-weight: 500;
  background: rgba(28, 147, 205, 1);
  color: #FFFFFF;
  cursor: pointer;
}
.img{
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 140px;
  bottom: 0;
  transform: translateY(20%);
  box-shadow: 0px 4px 4px 0px #00000024;
}
.home{
    background-image: url("/homebg.jpg");
}

.aboutpage{
  background-image: url("/aboutbg.jpg");
}
.services{
  background-image: url("/serviseBg.jpg");
}
.projects-page{
  background-image: url("/projectBg.jpg");
}
.contact-page{
  background-image: url("/contactbg.jpg");
}
.blogs-page{
  background-image: url("/blogsbg.jpg");
}
@media(max-width: 640px){
  .main-section {
      padding: 15rem 1.5rem 0 1.5rem;
  }
  .first-text {
  font-size: 30px;
}

/* Second text */
.second-text {
  font-size: 20px;
}

/* Final text */
.final-text {
  font-size: 10px;
}
.main-button {
  font-size: 12px;
  margin-top: 1rem;
}
}