.swiper {
    width: 100%;
    height: 430px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: left;
}

.swiper-slide img {
    border-radius: 12px;

}

.swiper-slide::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f8f9fa8c 61.54%);
    z-index: 10;
    top: 0;
    left: 0;
}

.swiper-slide .text{
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 11;
}

.swiper-slide h1 {
    font-weight: 600;
    font-size: 20px;
}

.swiper-slide p {
    font-weight: 400;
    font-size: 14px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 80%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}