:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: 100%;
  padding: 2rem 6rem;
  padding-top: 12rem;
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #1C93CD;
  padding-bottom: 3rem;
  text-align: center;
}
.des-text{
  text-align: center;
}
.loading{
  padding-top: 10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.spinner-grow{
  width: 150px!important;
  height: 150px!important;
  color: #1C93CD;
}
@media (max-width: 992px) {
  .main {
    padding: 2rem 2rem;
  }
}

@media (max-width: 640px) {
  .main{
     padding: 2rem 2rem;
  }
}