.childProtectionProjecSection {
    margin-top: 4rem;


}

.childProtectionProjecSection h1,
.childProtectionProjecSection p {
    padding: 0 6rem;
}

.projects-tap {
    width: 100%;
    max-width: 100%;
    margin-top: 4rem;
    padding: 4rem 4rem;
    background-color: #F8F8F8;
}
