.bottom-wave-section {
  position: absolute;
  width: 1443px;
  height: 150px;
  left: -2px;
  top: 581px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

/* Wave shape at the top of the section */
.wave-shape {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 120px;

  background: url("data:image/svg+xml;utf8,<svg width='1440' height='150' viewBox='0 0 1440 150' xmlns='http://www.w3.org/2000/svg'><path d='M0 0C320 120 1120 120 1440 0V150H0V0Z' fill='%23FFFFFF'/></svg>");
  background-repeat: no-repeat;
  background-size: cover;
}
