.navbar {
    padding: 15px 4rem!important;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    top: 0;
    max-width: 100%;
    width: 100%;
    z-index: 99;
    position: fixed!important;
    box-shadow: 0px 2px 9px 0px #8f8b8b;
    background-color: white;
}

.nav-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 100%;
}
/* BUTTON TOGGLE */
.menu-btn {
  width: 45px;
  height: 40px;
  background: transparent;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 4px;
  background: #1C93CD;
  border-radius: 4px;
  transition: 0.3s ease;
}

/* ANIMATION */
.line1.active {
  transform: translateY(10px) rotate(45deg);
}
.line2.active {
  opacity: 0;
}
.line3.active {
  transform: translateY(-10px) rotate(-45deg);
}


.nav-links {
    list-style-type: none;
    display: flex;
    gap: 1rem !important;
}

.link {
    width: 77px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link a {
    color: black!important;
    text-decoration: none;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
}

.nav-link {
    width: 77px;
    height: 32px;
    text-align: center;
    border-radius: 6px !important;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: #14141E;
}

.nav-link:hover {
    background-color: #1C93CD !important;
    transition: 0.7s ease !important;
    color: white !important;
}

.active {
    background-color: #1C93CD !important;
    transition: 0.7s ease !important;
    border-radius: 6px !important;
}
.link:hover{
   background-color: #1C93CD !important;
    transition: 0.7s ease !important;
    border-radius: 6px !important;
}
.link:hover a{
   color: white !important;
}
.active a{
 color: white !important;
}
@media (max-width: 991px) {
  /* إظهار زر المينو */
  .menu-btn {
    display: flex;
  }

  /* جعل الحاوية في أعلى الصفحة فقط */
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  /* القائمة الأساسية تتحول لعمود */
  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding-left: 0;
    gap: 0.5rem;
    display: none; /* مخفية افتراضياً */
  }

  /* عند الفتح */
  .nav-links.open {
    display: flex; /* تظهر هنا */
  }

  /* كل عنصر يأخذ عرض كامل */
  .link {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 0;
  }

  .link a {
    padding: 5px 10px;
  }
}
