.navbar {
    padding: 15px 4rem!important;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    top: 0;
    max-width: 100%;
    width: 100%;
    z-index: 99;
    position: fixed!important;
    box-shadow: 0px 2px 9px 0px #8f8b8b;
}

.container-fluid {
    justify-content: space-between !important;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 100%;
}
.navbar-toggler{
    height: 50px;
}
.navbar-collapse {
    flex-basis: 0% !important;
    flex-grow: 0 !important;
}

.navbar-collapse {
    flex-basis: 34% !important;
}

.navbar-nav {
    gap: 1rem !important;
}

.navbar-nav {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.nav-link {
    width: 77px;
    height: 32px;
    text-align: center;
    border-radius: 6px !important;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: #14141E;
}

.nav-link:hover {
    background-color: #1C93CD !important;
    transition: 0.7s ease !important;
    color: white !important;
}

.active {
    background-color: #1C93CD !important;
    transition: 0.7s ease !important;
    border-radius: 6px !important;
}
.active .nav-link{
 color: white !important;
}
@media(max-width: 991px){
    .container-fluid {
    flex-direction: column;
    align-items: center;
}
}